:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #8b8080;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

label {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

input {
  padding: 0.8rem;
  border-radius: 10px;
  max-width: 400px;
  width: 100%;
  background-color: #f9f9f9;
  border: 1px solid #3b3737;
  margin: 1rem;
  text-align: center;
  color: #0a0a0a;
}

button {
  padding: 0.8rem;
  width: 100%;
  max-width: 200px;
  background-color: #3b3737;
  border-radius: 10px;
}
ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 1rem;
  padding: 0;
  justify-content: space-around;
}

.movieItem h2 {
  font-size: 1rem;
}

.movieItem {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 220px;
  border-radius: 20px;
  background-color: #f9f9f9;
  padding: 1rem;
  box-sizing: border-box;
}

.movieItem img {
  height: 220px;
  width: 100%;
  border-radius: 20px;
}

a {
  color: #3b3737;
}

a:hover {
  color: #3b3737;
}

.movieSection {
  border: 1 px solid #0a0a0a;
  border-radius: 20px;
  padding: 1rem;
}

.movieSection p {
  width: 100%;
  max-width: 400px;
}

.backButton {
  color: #f9f9f9;
  padding: 1rem;
}

.imgMovieSection {
  width: 100%;
  max-width: 200px;
  height: auto;
  border-radius: 20px;
}
